body {
	background-color: white;
}
p {
	color: green;
	font-family: arial;
	font-size: 10pt;
}
h1, h3 {
	color: purple;
	font-family: "AR DESTINE";
}
table {
	background: grey;
	color: white;
	font-family: 'Times New Roman';
}

